.button {
	display: inline-block;
	min-width: 163px;
	min-height: 60px;
	color: #fff;
	background-color: #E01F3D;
	border-radius: 100px;
	text-transform: uppercase;
	padding: 21px 41px;
	font-weight: 700;
	&:hover {
		background-color: #CA1B36;
	}
}